@font-face{
    font-family: 'Roboto', sans-serif;
    src: url(..//fonts/Roboto-Regular.ttf);
}

@mixin max-screen($res) {
    @media screen and (max-width: $res) {
      @content;
    }
  }

.container{
    max-width: 1064px;
}

header{
    .soc_header{
        list-style: none;
        align-items: flex-start;
        li{
            &:first-of-type{
                margin-right: 15px;
                padding-top: 8px;
            }
            &:last-of-type{
                margin-left: 7px;
            }
            &:nth-child(2){
                padding-top: 2px;
            }
        }
    }
    .navbar-brand{
        position: absolute;
        left: 50%;
        margin-left: -40px;
        top: 20px;
    }
}

.nav-item{
    a{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        color: #1C1B1B;
    }
}

.navbar-light .navbar-nav .nav-link{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #1C1B1B;
}

.main_banner{
    background-color: #F0EFEB;
    padding: 90px 0;
}

.main_banner{
    padding: 90px 0;
    .d-flex{
        @include max-screen(588px){
            flex-wrap: wrap;
        }
    }
    h2{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 70px;
        color: #000000;
        margin-bottom: 42px;
        @include max-screen(893px){
            font-size: 40px;
            line-height: 40px;
        }
        @include max-screen(698px){
            font-size: 30px;
            line-height: 35px;
        }
    }
    h4{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        margin-bottom: 26px;
        @include max-screen(893px){
            font-size: 18px;
        }
        @include max-screen(698px){
            font-size: 15px;
        }
    }
    .btn-primary{
        background-color: #000000;
        box-sizing: border-box;
        border: 1px solid #000000;
        border-radius: 100px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        color: #FFFFFF;
        padding: 7px 23px 9px;
    }
}

.main_banner_picture{
    @include max-screen(893px){
        width: 100%;
    }
}

.best_sellers{
    padding-top: 60px;
    padding-bottom: 248px;
    h2{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #000000;
        margin-bottom: 27px;
    }
    p{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #000000;
        margin-bottom: 47px;
    }
    .card{
        border-color: #FFFFFF;
        img{
            margin-bottom: 27px;
        }
        h5{
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 17px;
            line-height: 20px;
            text-align: center;
            color: #000000;
            margin-bottom: 17px;
        }
        p{
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 20px;
            text-align: center;
            color: #000000;
            margin-bottom: 10px;
        }
        a{
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 17px;
            line-height: 20px;
            text-align: center;
            text-decoration-line: underline;
            color: #000000;
        }
        .btn-primary{
            background-color: #FFFFFF;
            border-color: #FFFFFF;
        }
    }
}

.people{
    background-color: #CCCCCC4D;
}

.people_mr{
    background-color: #CCCCCC99;
}

.people, .people_mr{
    padding: 76px 0 51px;
    .d-flex{
        align-items: center;
        @include max-screen(846px){
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    img{
        @include max-screen(425px){
            width: 100%;
            align-items: center;
        }
    }
    h3{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        color: #000000;
        margin-bottom: 31px;
        @include max-screen(846px){
            margin-top: 30px;
            font-size: 30px;
        }
    }
    h5{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        color: #000000;
        margin-bottom: 40px;
        @include max-screen(846px){
            font-size: 30px;
        }
    }
    p{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        text-decoration-line: underline;
        color: #000000;
        @include max-screen(846px){
            margin-bottom: 40px;
        }
    }
    .card_description{
        margin-left: 50px;
        margin-right: 50px;
    }
}

.features{
    padding: 190px 0 52px;
    background-color: #FFFFFF;
    .d-flex{
        justify-content: space-between;
        align-items: center;
        @include max-screen(360px){
            flex-wrap: wrap;
        }
    }
    .features_icons{
        max-width: 339px;
        text-align: center;
    }
    h3{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #000000;
        margin-bottom: 69px;
        @include max-screen(444px){
            font-size: 30px;
        }
    }
    img{
        margin-bottom: 26px;
    }
    p{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        color: #000000;
        margin-bottom: 111px;
        @include max-screen(700px){
            font-size: 25px;
            margin-bottom: 80px;
        }
        @include max-screen(548px){
            font-size: 20px;
            margin-bottom: 60px;
        }
        @include max-screen(444px){
            font-size: 17px;
            margin-bottom: 20px;
        }
    }
}

.faces{ 
    h3{
        margin-bottom: 290px;
        text-align: center;
    }
    .grey_bg{
        height: 480px;
        background-color: #F0F0F0;
         @include max-screen(767px){
            height: auto;
        }
        .d-flex{
            @include max-screen(767px){
                flex-wrap: wrap;
            }
        }
        article{
            border-color: #FFFFFF;
            position: relative;
            top: -188px;
            img{
                margin-bottom: 35px;
            }
            h5{
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 17px;
                line-height: 20px;
                text-align: center;
                color: #000000;
                margin-bottom: 40px;
            }
            p{
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 20px;
                text-align: center;
                color: #000000;
                margin-bottom: 44px;
            }
            a{
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 17px;
                line-height: 20px;
                text-align: center;
                text-decoration-line: underline;
                color: #000000;
            }
            .btn-primary{
                background-color: #F0F0F0;
                border-color: #F0F0F0;
            }
        }
    }
}

.touch{
    padding: 79px 0 88px;
    text-align: center;
    h3{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #000000;
        margin-bottom: 9px;
    }
    p{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        color: #000000;
        margin-bottom: 26px;
    }
    form{
        .form-group{
            margin-bottom: 18px;
        }
        .form-control{
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #A0A0A0;
            padding-top: 12px;
            padding-bottom: 11px;
            padding-left: 8px;
        }
        button{
            background-color: #000000;
            border: 1px solid #000000;
            border-radius: 100px;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #FFFFFF;
            padding: 7px 23px 9px;
        }
    }
}

footer{
    padding: 51px 0 16px;
    background-color: #020202;
    .footer_sections{
        justify-content: space-between;
        @include max-screen(414px){
            flex-wrap: wrap;
        }
    }
    .social{
        a{
            margin-top: 45px;
            margin-right: 23px;
        }
    }
    .footer_links{
        justify-content: space-between;
        list-style: none;
        @include max-screen(414px){
            margin-top: 25px;
        }
        li{
            a{
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 23px;
                color: #FFFFFF;
                margin-bottom: 12px;
            }
            h3{
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 23px;
                color: #FFFFFF;
                margin-bottom: 36px;
            }
        }
    }
    h2{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 9px;
    }
}